# Project 4 -- Jazmin Pulido

**TA Help:** N/A

- Helped with...
- only used the Examples book
    
**Collaboration:** N/A
    
- Helped with...

## Question 1

In [1]:
#Show the mean Age of death for each Sex.
library(data.table)
myDF <- fread("/anvil/projects/tdm/data/death_records/DeathRecords.csv")
tapply(myDF$Age, myDF$Sex, mean)

       F        M
76.67668 70.22786

**Here I showed the mean Age of death for each Sex by first importing the data.table library, then reading the death records file using fread. I then used tapply to get the mean of the ages sorted by the sex column.**

## Question 2

In [3]:
#Show the top 10 types of PRODUCT_NUM, according to the total amount of money spent on those products 
#(i.e., according to the sum of the SPEND column for those 10 PRODUCT_NUM values).
library(data.table)
myDF <- fread("/anvil/projects/tdm/data/8451/The_Complete_Journey_2_Master/5000_transactions.csv")
tail(sort(tapply(myDF$SPEND, myDF$PRODUCT_NUM, sum)), 10)

    89415      8523   1344763   4889358     85201    766108     74424     85311
 50032.42  53845.65  58170.84  63823.61  65605.34  66085.00  75787.49 102928.59
  1367192      8511
111433.78 131399.78

**Here I showed the top 10 types of PRODUCT_NUM according to the total amount of money spent on those products by first importing the data.table library, then reading the 5000_transactions.csv file using fread. I then used tapply to get the sum of the SPEND column sorted by the PRODUCT_NUM column. I then sorted the spend values numerically and took the tail of the highest numbers, only displaying the last ten rows.**

## Question 3

In [2]:
#Show the three dates on which the mean score is a 5.
library(data.table)
myDF <- fread("/anvil/projects/tdm/data/beer/reviews_sample.csv")
tail(sort((tapply(myDF$score, myDF$date, mean))),3)

2001-04-26 2001-06-18 2002-01-26
         5          5          5

**Here I showed the three dates in which the mean score is a 5 by first importing the data.table library, then reading the reviews_sample.csv file using fread. I then used tapply to get the mean of the score column sorted by the date column. I then sorted the score values numerically and took the tail of the highest numbers, only displaying the last 3 rows.**

## Question 4

In [4]:
#Show the top 20 city-and-state pairs, according to the amount of money donated.
library(data.table)
myDF <- fread("/anvil/projects/tdm/data/election/itcont1980.txt", quote="")
names(myDF) <- c("CMTE_ID", "AMNDT_IND", "RPT_TP", "TRANSACTION_PGI", "IMAGE_NUM", "TRANSACTION_TP", "ENTITY_TP", "NAME", "CITY", "STATE", "ZIP_CODE", "EMPLOYER", "OCCUPATION", "TRANSACTION_DT", "TRANSACTION_AMT", "OTHER_ID", "TRAN_ID", "FILE_NUM", "MEMO_CD", "MEMO_TEXT", "SUB_ID")
tail(sort(tapply(myDF$TRANSACTION_AMT,paste(myDF$CITY, myDF$STATE, sep=", "), sum)), 20)

   CINCINNATI, OH        DENVER, CO       MIDLAND, TX    WASHINGTOM, DC
          1096983           1183471           1210584           1300341
    GREENWICH, CT         TULSA, OK         MIAMI, FL   SAN ANTONIO, TX
          1340112           1341956           1541867           1583292
     ST LOUIS, MO OKLAHOMA CITY, OK       ATLANTA, GA BEVERLY HILLS, CA
          1639570           1751431           1892356           2053148
SAN FRANCISCO, CA       CHICAGO, IL    WASHINGTON, DC   LOS ANGELES, CA
          2061441           3179470           4273606           4569952
       DALLAS, TX       HOUSTON, TX      NEW YORK, NY                ,
          4748262           7606806          11345027          17299729

**Here I showed the top 20 city-and-state pairs, according to the amount of money donated by first importing the data.table library, then reading the itcont1980.txt file using fread. The column named needed to be added in so I did this with the same code from the previous assignment (names(...)<- c)). After that, I used the paste function to put the city and state columns together in the output. I then used tapply to get the sum of the TRANSACTION_AMT sorted by the city/state paste. I then sorted the TRANSACTION_AMT values numerically and took the tail of the highest numbers, only displaying the last 20 rows.**

## Question 5

In [1]:
#Show the worst 6 dates from 1990, according to the largest mean departure delay (DepDelay) values.
library(data.table)
myDF <- fread("/anvil/projects/tdm/data/flights/subset/1990.csv")
tail(sort(tapply(myDF$DepDelay,paste(myDF$Month, myDF$DayofMonth, myDF$Year, sep="/"), mean, na.rm=TRUE)), 6)

12/20/1990  2/15/1990  2/16/1990 12/28/1990 12/22/1990 12/21/1990
  27.34540   28.12302   36.19422   43.91443   45.22225   45.66178

**Here I showed the worst 6 dates from 1990, according to the largest mean departure delay (DepDelay) values. I did this by first importing the data.table library, then reading the 1990.csv file using fread. After that, I used the paste function to put the month, day and year columns together in the output. I then used tapply to get the mean of the DepDelay sorted by the date paste function. In order to do this I had to remove any NA rows using: na.rm=TRUE. I then sorted the DepDelay values numerically and took the tail of the highest numbers, only displaying the last 6 rows.**

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together â€“ We are Purdue.