# Project 12 -- Jazmin Pulido

**TA Help:** N/A

- Helped with...
    
**Collaboration:** N/A
    
- Helped with...

## Question 1

In [1]:
library(data.table)
options(repr.matrix.max.cols=50)
myDF <- fread("/anvil/projects/tdm/data/iowa_liquor_sales/iowa_liquor_sales.csv", nrows=1000)
head(myDF)
newDF<- fread("/anvil/projects/tdm/data/iowa_liquor_sales/iowa_liquor_sales.csv", select = c(3,4,5,6,7))
dim(newDF)

  Invoice/Item Number Date       Store Number
1 S07122800016        08/16/2012 2846
2 S21151400007        09/10/2014 3894
3 S11572100060        04/10/2013 2558
4 S07453200005        08/30/2012 4680
5 S23684100152        01/26/2015 2590
6 S06685900003        07/19/2012 4126
  Store Name                          Address              City
1 CVS PHARMACY #8443 / CEDAR RAPIDS   3419 16TH AVE SW     CEDAR RAPIDS
2 SMOKIN' JOE'S #6 TOBACCO AND LIQUOR 1404  1ST AVE NE     CEDAR RAPIDS
3 HY-VEE FOOD STORE / MOUNT PLEASANT  1700 E WASHINGTON    MOUNT PLEASANT
4 AFAL FOOD & LIQUOR / DES MOINES     4121 SE 14TH ST      DES MOINES
5 HY-VEE FOOD STORE #5 / CEDAR RAPIDS 3235 OAKLAND ROAD NE CEDAR RAPIDS
6 SAM'S MAINSTREET MARKET / SOLON     123 E MAIN ST        SOLON
  Zip Code Store Location                       County Number County  Category
1 52404    POINT (-91.716615 41.963516)         57            LINN    1012100
2 52402    POINT (-91.6537 41.987286)           57            LINN    1031080
3 52641    POINT (-91.52888 40.962331000000006) 44            HENRY   1082900
4 50320    POINT (-93.596755 41.5464)           77            POLK    1051010
5 52402    POINT (-91.658105 42.010971)         57            LINN    1081600
6 52333    POINT (-91.494611 41.807199)         52            JOHNSON 1081390
  Category Name                      Vendor Number Vendor Name
1 CANADIAN WHISKIES                   55           SAZERAC NORTH AMERICA
2 VODKA 80 PROOF                     434           LUXCO-ST LOUIS
3 MISC. IMPORTED CORDIALS & LIQUEURS  85           BROWN-FORMAN CORPORATION
4 AMERICAN GRAPE BRANDIES            205           E AND J GALLO WINERY
5 WHISKEY LIQUEUR                    259           HEAVEN HILL BRANDS
6 IMPORTED SCHNAPPS                  421           SAZERAC CO., INC.
  Item Number Item Description                   Pack Bottle Volume (ml)
1 12408       CANADIAN LTD WHISKY                 6   1750
2 36306       HAWKEYE VODKA                      12    750
3 64676       CHAMBORD LIQUEUR ROYALE DE FRANCE  12    750
4 52594       E & J VS BRANDY                    24    375
5 86796       SOUTHERN HOST WHISKEY LIQUEUR      12    750
6 69637       DR. MCGILLICUDDY'S CHERRY SCHNAPPS 12   1000
  State Bottle Cost State Bottle Retail Bottles Sold Sale (Dollars)
1  8.99             13.49                3            40.47
2  3.34              5.01               12            60.12
3 18.56             27.84                2            55.68
4  2.93              4.40                3            13.20
5  5.37              8.06                4            32.24
6 11.00             16.50               12           198.00
  Volume Sold (Liters) Volume Sold (Gallons)
1  5.25                1.39
2  9.00                2.38
3  1.50                0.40
4  1.12                0.30
5  3.00                0.79
6 12.00                3.17

[1] 27050143        5

I loaded the data.table library and set an option to display up to 50 columns in matrices. Then, I used fread to read the first 1,000 rows of the Iowa liquor sales dataset and displayed the initial rows with head. Next, I read the same file again but selected only specific columns (3, 4, 5, 6, and 7) and assigned this to newDF. Finally, I used dim to check the dimensions of newDF. The dimensions are: 27050143x5

## Question 2

In [2]:
topTenStoreNumber <- sort(table(newDF$'Store Number'), decreasing = TRUE)[1:10]
print(topTenStoreNumber)

topTenStoreName <- sort(table(newDF$'Store Name'), decreasing = TRUE)[1:10]
print(topTenStoreName)

topTenLocations <- sort(table(paste(newDF$Address, newDF$City, newDF$'Zip Code', sep=", ")), decreasing = TRUE)[1:10]
print(topTenLocations)

  2633   4829   2190   2512   2572   2603   2515   2614   2647   2648
223447 190702 173109 147581 142536 140319 133959 132915 132269 128608

        HY-VEE #3 / BDI / DES MOINES                       CENTRAL CITY 2
                              223447                               190653
           CENTRAL CITY LIQUOR, INC.      HY-VEE FOOD STORE / CEDAR FALLS
                              173158                               142536
 HY-VEE WINE AND SPIRITS / IOWA CITY HY-VEE WINE AND SPIRITS / BETTENDORF
                              141557                               140319
            HY-VEE #7 / CEDAR RAPIDS                      HY-VEE #4 / WDM
                              131294                               128608
   HY-VEE FOOD STORE #1 / MASON CITY                    BENZ DISTRIBUTING
                              127264                               120357

      3221 SE 14TH ST, DES MOINES, 50320
                                  223447
    1501 MICHIGAN AVE, DES MOINES, 50314
                                  190702
         1460 2ND AVE, DES MOINES, 50314
                                  173109
    1720 WATERFRONT DR, IOWA CITY, 52240
                                  147581
     6301 UNIVERSITY, CEDAR FALLS, 50613
                                  142536
2890 DEVILS GLEN ROAD, BETTENDORF, 52722
                                  140319
       2400 4TH ST SW, MASON CITY, 50401
                                  133959
    1823 E KIMBERLY RD, DAVENPORT, 52807
                                  132915
   5050 EDGEWOOD RD, CEDAR RAPIDS, 52411
                                  132269
   555 S 51ST ST, WEST DES MOINES, 50265
                                  128608

I created a frequency table of the "Store Number" column in newDF and sorted it in descending order to find the top 10 most frequent store numbers, then printed the result. Next, I did the same for the "Store Name" column to identify the top 10 most frequent store names and printed that. Finally, I combined the "Address," "City," and "Zip Code" columns into a single string for each record, created a frequency table, sorted it in descending order, and printed the top 10 most common locations. 
a and b dont agree but a and c do.

## Question 3

In [3]:
library(data.table)
newDF2<- fread("/anvil/projects/tdm/data/iowa_liquor_sales/iowa_liquor_sales.csv", select = c(7,12,22))
dim(newDF2)

sumOfZip <- tapply(newDF2$'Sale (Dollars)', newDF2$'Zip Code', sum, na.rm=TRUE)
sumOfZipSorted <- sort(sumOfZip, decreasing = TRUE)[1:10]
print(sumOfZipSorted)

sumOfCategory <- tapply(newDF2$'Sale (Dollars)', newDF2$'Category Name', sum, na.rm=TRUE)
sumOfCategorySorted <- sort(sumOfCategory, decreasing = TRUE)[1:10]
print(sumOfCategorySorted)

[1] 27050143        3

    50314     50320     52402     52240     50010     50266     52807     51501
146282225 132861227 108460935 106827909  96964163  95956449  85331020  84485599
    52241     50613
 80224356  70716357
        CANADIAN WHISKIES           AMERICAN VODKAS STRAIGHT BOURBON WHISKIES
                457612891                 380307151                 257794862
               SPICED RUM           WHISKEY LIQUEUR           IMPORTED VODKAS
                254362805                 199736755                 183082359
       TENNESSEE WHISKIES            VODKA 80 PROOF        100% AGAVE TEQUILA
                162676709                 145764889                 124223944
         BLENDED WHISKIES
                109152591

I loaded the data.table library and used fread to read the Iowa liquor sales dataset, selecting only the columns "Zip Code," "Sale (Dollars)," and "Category Name," and saved this as newDF2. I checked the dimensions of newDF2 with dim. Then, I calculated the total sales for each zip code using tapply and sorted the results in descending order to get the top 10 zip codes with the highest sales, which I printed. Similarly, I calculated the total sales for each category name, sorted these totals in descending order, and printed the top 10 categories with the highest sales.

## Question 4

In [1]:
library(data.table)
newDF3<- fread("/anvil/projects/tdm/data/election/itcont2020.txt", select = c(10,15),  col.names = c("State", "Amount"))
topTenDonationStates <- tapply(newDF3$Amount, newDF3$State, sum, na.rm=TRUE)
topTenDonationStatesSorted <- sort(topTenDonationStates, decreasing = TRUE)[1:10]
print(topTenDonationStatesSorted)

Warning message in fread("/anvil/projects/tdm/data/election/itcont2020.txt", select = c(10, :
"Found and resolved improper quoting out-of-sample. First healed line 543881: <<C00401224|A|M10||202012149381299609|24T|IND|YOUNG, BRUCE|SARANAC LAKE|NY|12983|"SELF" (EMPLOYER WISHES TO REMAIN ANON|IND. CONTRACTOR / CARETAKER|09292020|27|C00649061|SA11AI_310755484|1482832||EARMARKED FOR COMMITTEE TO ELECT TEDRA COBB (C00649061)|4012120212130550457>>. If the fields are not quoted (e.g. field separator does not appear within any field), try quote="" to avoid this warning."

        CA         NY         VA         DC         TX         FL         IL
2803518256 2521628477 1122819081 1060820708 1005943807  913762179  610913249
        MA         NV         WA
 521866708  384867853  384169499

I loaded the data.table library and used fread to read the election contributions data from the file itcont2020.txt, selecting only the columns for "State" and "Amount" and renaming them accordingly. I then used tapply to calculate the total donation amount for each state, handling any missing values by setting na.rm=TRUE. Next, I sorted these totals in descending order and printed the top 10 states with the highest donation amounts.

## Question 5

In [6]:
myDF4 <- fread("/anvil/projects/tdm/data/movies_and_tv/imdb2024/basics.tsv", nrows = 10)
#head(myDF4)

print(myDF4$genres)

strsplit(myDF4$genres, ',')

unlist(strsplit(myDF4$genres, ','))

table(unlist(strsplit(myDF4$genres, ',')))

 [1] "Documentary,Short"        "Animation,Short"
 [3] "Animation,Comedy,Romance" "Animation,Short"
 [5] "Comedy,Short"             "Short"
 [7] "Short,Sport"              "Documentary,Short"
 [9] "Romance"                  "Documentary,Short"

[[1]]
[1] "Documentary" "Short"

[[2]]
[1] "Animation" "Short"

[[3]]
[1] "Animation" "Comedy"    "Romance"

[[4]]
[1] "Animation" "Short"

[[5]]
[1] "Comedy" "Short"

[[6]]
[1] "Short"

[[7]]
[1] "Short" "Sport"

[[8]]
[1] "Documentary" "Short"

[[9]]
[1] "Romance"

[[10]]
[1] "Documentary" "Short"

 [1] "Documentary" "Short"       "Animation"   "Short"       "Animation"
 [6] "Comedy"      "Romance"     "Animation"   "Short"       "Comedy"
[11] "Short"       "Short"       "Short"       "Sport"       "Documentary"
[16] "Short"       "Romance"     "Documentary" "Short"

  Animation      Comedy Documentary     Romance       Short       Sport
          3           2           3           2           8           1

I did the tests as stated in the examples book. I read the IMDB data file basics.tsv using fread, limiting the rows to the first 10 for a quick preview. After loading the data, I printed the genres column to display the genres associated with each movie or TV show. I then used strsplit to split the genres strings by commas, breaking down multiple genres into individual components. Using unlist, I flattened the list of split genres into a single vector. Finally, I created a frequency table of the genres using table to show how often each genre appears.

In [1]:
library(data.table)
fullDF <- fread("/anvil/projects/tdm/data/movies_and_tv/imdb2024/basics.tsv")
table(unlist(strsplit(fullDF$genres, ',')))

Warning message in fread("/anvil/projects/tdm/data/movies_and_tv/imdb2024/basics.tsv"):
"Found and resolved improper quoting out-of-sample. First healed line 242860: <<tt0253684	tvEpisode	"Rome br<c3><bb>le" (Portrait de Shirley Clarke)	"Rome br<c3><bb>le" (Portrait de Shirley Clarke)	0	1970		54	Documentary>>. If the fields are not quoted (e.g. field separator does not appear within any field), try quote="" to avoid this warning."

     Action       Adult   Adventure   Animation   Biography      Comedy
     462531      353525      425130      556566      119759     2181847
      Crime Documentary       Drama      Family     Fantasy   Film-Noir
     459412     1062294     3151064      824607      234269         873
  Game-Show     History      Horror       Music     Musical     Mystery
     424919      165528      202434      418888       92140      225390
       News  Reality-TV     Romance      Sci-Fi       Short       Sport
    1051399      624854     1045327      117541     1191319      271872
  Talk-Show    Thriller         War     Western
    1372500      184618       38662       30931

I loaded the complete IMDB data file basics.tsv using fread to work with the entire dataset. I then used strsplit to split the genres column by commas, breaking down the multiple genres associated with each movie or TV show. The unlist function was used to flatten the list of split genres into a single vector. Finally, I created a frequency table with table to count how often each genre appears in the full dataset.

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together â€“ We are Purdue.